<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuhjdm072Ap3MGTvamrel1N7eHETYJJ38</string>
	<key>GCM_SENDER_ID</key>
	<string>174167442960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.culturePot</string>
	<key>PROJECT_ID</key>
	<string>culture-p</string>
	<key>STORAGE_BUCKET</key>
	<string>culture-p.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174167442960:ios:6a77bcaa31df1e8f2f2c95</string>
	<key>DATABASE_URL</key>
	<string>https://culture-p-default-rtdb.firebaseio.com</string>
</dict>
</plist>